<section class="border w-full h-[100vh] flex items-center justify-center">
  <div class="cont w-2/3">
    <h1 class="font-bold text-4xl italic mb-28 text-center">Ontroise app</h1>
    <div class="links absolute w-full bottom-0 left-0 text-center mb-5">
      <%= link_to "log in", new_user_session_path, class: "uppercase block bg-zei-blue text-white text-2xl py-3"%>
      <%= link_to "Sign up", new_user_registration_path, class: "uppercase block bg-zei-green mt-2 text-white text-2xl py-3"%>
    </div>
  </div>
</section>
