<header class="flex justify-between items-center mb-6 border-b py-3 pb-5 bg-zei-blue px-4">
     <h1 class=" font text-3xl uppercase text-slate-100">Categories</h1>
    <div>
        <%= button_to "sign out",destroy_user_session_path, method: :delete, class: "rounded-lg py-2 px-3 bg-blue-600 text-white block bg-zei-green font-bold tracking-wider cursor-pointer active:scale-105"%>
    </div>
</header>