<div class="w-full ">
  <%= render "ctegories/ctegory_header"%>

  <div id="ctegories" class="min-w-full divide-y divide-slate-700">
    <%= render @ctegories %>
  </div>

  <div class="flex justify-between items-center">
    <%= link_to 'New category', new_ctegory_path, class: "py-3 px-5 bg-blue-600 text-white block font-medium bg-zei-green w-full mx-4 text-center uppercase hover:opacity-70" %>
  </div>
</div>

