<%= render "ctegories/transactions_header", name: @ctegory.name %>

<section class="mt-4">
  <%= render "ctegories/ctegory", ctegory:@ctegory%>
  <%= render "trnsactions/trnsaction", transaction_categories:@transaction_categories %>

  <%= link_to 'New transaction',new_trnsaction_path, class: "w-full py-3 px-5 bg-zei-green text-white font-medium mt-3 uppercase text-2xl text-center block mb-5" %>
</section>

